/*=================================================================*/
/*                      DARK MODE                              
/*=================================================================*/
body.dark {
    color: #FFF;
    background-color: $colordark;
    .section-title {
        color: #FFF;
        &:before {
            background: url('../images/dots-bg-light.svg');
        }
    }
    .bg-dark {
        background: #16213E !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #FFF;
    }
    .triangle-top:before {
        border-bottom-color: #16213E;
    }
    .timeline.exp .timeline-container::after, .timeline.edu .timeline-container::after {
        background: #16213E;
    }
    .portfolio-filter li {
        color: #FFF;
    }
    a:hover {
        color: #FFF;
    }
    .portfolio-filter li.current {
        color: $colorpink;
    }
    .blog-item .details h4.title a {
        color: #FFF;
        &:hover {
            color: $colorpink;
        }
    }
    .contact-info {
        background-image: url('../images/map-light.png');
    }
    .white-popup {
        background: #16213E;
    }
    footer.footer {
        border-top: solid 1px rgba(255, 255, 255, 0.1);
    }
}